%h1
  %span.small.show
    = link_to "Admin", admin_path
    \ /
  All #{pluralize(@families.size, "Family")}
%table.table.table-hover
  %thead
    %tr
      %td Family Name
      %td Donations
      %td Raised
      %td Status
  %tbody
    - @families.each do |family|
      %tr
        %td
          .media
            .media-left
              = image_thumb(family, "")
            .media-body
              %h3.media-heading= link_to family.full_name, family
              %p= family.user.email
        %td= family.donations.size
        %td= pretty_dollars(family.total_raised)
        %td
          = family.approved?

  = paginate(@families)