.col-xs-12.col.col-sm-6.col-sm-offset-3
  %h1 Log In
  = form_tag sessions_path do
    .form-group
      = label_tag :email
      = email_field_tag :email, nil, autofocus: true, class: 'form-control', type: :email, 'data-parsley-trigger' => 'focusout change', required: true
    .form-group
      = label_tag :password
      = password_field_tag :password, nil, class: 'form-control', 'data-parsley-trigger' => 'focusout change', required: true
    = submit_tag 'Log In', class: 'btn btn-primary'
