.col-xs-12.col.col-sm-6.col-sm-offset-3
  %h1 Log In
  = link_to 'Log In with Facebook', auth_at_provider_path(provider: :facebook), class: 'btn btn-facebook'
  = form_tag sessions_path do
    .form-group
      = label_tag :email
      = email_field_tag :email, nil, autofocus: true, class: "form-control"
    .form-group
      = label_tag :password
      = password_field_tag :password, nil, class: "form-control"
    = submit_tag "Log In", class: "btn btn-primary"
  %p Need an account? #{link_to "Sign Up", signup_path}
