.col-xs-12.col.col-sm-6.col-sm-offset-3
  %h1 Choose a new password
  = form_for @user, :url => password_reset_path(@token), :html => {:method => :put} do |f| %>
    - if @user.errors.any? %>
      = render 'shared/errors', object: @user
    %p Change your password here.
    .form-group
      = f.label :password
      = f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    = f.submit
