= form_for @family, html: { multipart: true } do |f|
  = render 'shared/errors', object: @family
  %fieldset
    %legend Family Information
    .form-group
      = f.label :first_name, "First Name(s)"
      = f.text_field :first_name, autofocus: true, class: "form-control"
    .form-group
      = f.label :last_name, "Last Name"
      = f.text_field :last_name, class: "form-control"
    - if current_user == nil
      = fields_for :user do |ff|
        .form-group
          = ff.label :email
          = ff.email_field :email, class: "form-control"
        .form-group
          = ff.label :password
          = ff.password_field :password, class: "form-control"
          %p.help-block.small You'll use your email & this password to log back in.
    .form-group
      = f.label :phone
      = f.text_field :phone, class: "form-control"
    .form-group
      = f.label :postal_code, "Zip/Postal Code"
      = f.text_field :postal_code, class: "form-control"
  %fieldset
    %legend Adoption Information
    .form-group
      = f.label :cost, "Estimated Adoption Cost"
      = f.text_field :cost, class: "form-control"
    .form-group
      = f.label :country
      = f.text_field :country, class: "form-control"
    .form-group
      %h3 Gender Requested
      - Family::GENDER_OPTIONS.each do |gender|
        .checkbox
          = f.label :gender, :gender, { value: gender } do
            = f.radio_button :gender, gender
            = gender
    .form-group
      = f.label :quantity, "How many children are you adopting?"
      = f.select :quantity, options_for_select(1..5), {}, { class: "form-control" }
    .form-group
      = f.label :description, "Message to your visitors"
      = f.text_area :description, class: "form-control"
    .form-group
      = f.label :photo
      = f.file_field(:photo, accept: 'image/png,image/gif,image/jpeg,image/jpg')
    .form-group
      = f.label :status, "Adoption Status"
      = f.select :status, options_for_select(Family::ADOPTION_STATUSES), {}, { class: "form-control" }
    .form-group
      = f.label :agency_name, "Adoption Agency"
      = f.text_field :agency_name, class: "form-control"
    .form-group
      = f.label :agency_site, "Adoption Agency URL"
      = f.text_field :agency_site, class: "form-control"
    = f.submit "Apply for a Profile", class: "btn btn-primary"
