.row
  .col-xs-12.col-sm-8
    %h1 Upload Your Approval Letter
    %p You need to upload a copy of your HomeStudy or a Letter of Acceptance from your Adoption agency for the AdoptTogether staff to review. Once approved, your fundraising profile will become live and ready to receive support from generous donors.
    = form_for @family, html: { multipart: true } do |f|
      %fieldset
        %legend Family Information
        .row
          .col-xs-12.col-sm-8.col-md-8.col-lg-6
            .form-group
              = f.label :address
              = f.text_field :address, required: true, class: 'form-control'
            .form-group
              = f.label :city
              = f.text_field :city, required: true, class: 'form-control'
            .form-group
              = f.label :state
              = f.select :state, options_for_select(us_states), {}, required: true, class: 'form-control'
            .form-group
              = f.label :phone
              = f.text_field :phone, required: true, class: 'form-control'
          .col-xs-12
            .form-group
              = f.label :approval_letter_file, 'Approval Letter'
              = f.file_field(:approval_letter_file, accept: 'image/png,image/gif,image/jpeg,image/jpg')
              %p.small.help-block You can upload a Word document, PDF, JPEG, PNG or ZIP. If you want to upload multiple files, zip them and upload the ZIP file.
          .col-xs-12.col-sm-8.col-md-8.col-lg-6
            = f.submit 'Upload Your Approval Letter', class: 'btn btn-primary btn-block'
  %aside.col-xs-12.col-sm-4
    %h2 Details here
    %p Gimme some text. Maybe this is a list of things we approve, why we need this, etc.