- if params[:q].blank?
  %h1 All Families
  %h2= pluralize(Family.all.count, 'Adopting family')
- else
  %h1 Search Results for "#{params[:q]}"
  %h2= pluralize(@families.count, 'Adopting family')
.row
  - cache(['families_list', @families.map(&:id), @families.maximum(:updated_at)]) do
    - @families.each do |family|
      - cache(family) do
        .col-xs-6.col-md-4
          = render 'shared/family_thumb', family: family
= paginate @families
