- if params[:q].blank?
  %h1 All Families
  %h2= pluralize(Family.all.count, 'Adopting family')
- else
  %h1 Search Results for "#{params[:q]}"
  %h2= pluralize(@families.length, 'Adopting family') # Using length instead of count to keep the join intact
.row
  = render partial: 'shared/family_thumb', collection: @families, as: :family, layout: 'family_index_thumbs' || 'We can\'t find any families :('
= paginate @families
