= image_tag @family.photo.url
%h1 #{@family.first_name} #{@family.last_name}
%h2 are adopting from #{@family.country}
%p= @family.description
%p Adoption Agency
%p= @family.agency_name
%p= @family.agency_site

%aside
  %p Raised #{@family.donations.sum.amount}
  %p of #{number_to_currency(@family.cost)} goal

= link_to "Give to this Adoption", new_family_donation_path(@family), class: "btn btn-primary btn-lg"
