.row
  .col-xs-12.col-sm-8
    .family-details
      = image_tag(@family.photo.large.url, class: "img-responsive")
      %h1.title= @family.full_name
      %h2.subtitle #{@family.pluralize_is} adopting #{@family.number_of_children} from #{@family.country_name}
      %p= simple_format(@family.description)
      .row
        .col-xs-6
          %h4 Adoption Status
          %h3= @family.status
        .col-xs-6.agency
          %h4 Adoption Agency
          %h3= @family.agency_name
          %span.website= @family.agency_site
      .row
        .col-xs-12
          %h2 Updates
          %ul.list-unstyled.update-list
            - if @updates.any?
              - @updates.each do |update|
                %li
                  = render 'shared/update', :update => update
            - else
              %p.small.help-block This family hasn't written any updates yet.

  %aside.col-xs-12.col-sm-4
    .raised
      %h3 Raised
      %span.total-raised= pretty_dollars(@family.total_raised)
      %span.goal of #{pretty_dollars(@family.cost)} Goal
      = link_to "Give to this Adoption", new_family_donation_path(@family), class: "btn btn-primary btn-lg btn-block"
    .share-buttons
      %span.share-count= share_count(family_url(@family))
      %span.shares Shares 
      = render 'shared/share_buttons'
    %h2 #{pluralize(@family.donations.length, "Donation")}
    %ul.list-unstyled
      - if @donations.any?
        - @donations.each do |donation|
          = render 'shared/donation', :donation => donation
      - else
        %p No one has donated yet.
      = paginate @donations
