- title = url_encode("#{family.full_name} on AdoptTogether")
- text_intro = url_encode("The #{family.last_name} Family is raising money for their adoption on ")
- url = url_encode(family_url(family))
- text_prompt = url_encode("Check it out!")
- image = url_encode(image_url(family.photo.large.url))
.row
  .col-xs-6.share-button
    = link_to "Facebook", "https://www.facebook.com/sharer/sharer.php?u=#{url}", class: 'facebook'
  .col-xs-6.share-button
    = link_to 'Twitter', "https://twitter.com/home?status=#{text_intro}%40Adoptt,%20#{text_prompt}%20#{url}", class: 'twitter'
.row
  .col-xs-6.share-button
    = link_to 'Google +', "https://plus.google.com/share?url=#{url}", class: 'google-plus'
  .col-xs-6.share-button
    = link_to 'LinkedIn', "https://www.linkedin.com/shareArticle?mini=true&url=#{url}&title=#{title}&summary=#{text_intro}AdoptTogether.#{text_prompt}&source=", class: 'linkedin'
.row
  .col-xs-6.share-button
    = link_to 'Pinterest', "https://pinterest.com/pin/create/button/?url=#{url}&media=#{image}&description=#{text_intro}AdoptTogether.%20#{text_prompt}}", class: 'pinterest'
  .col-xs-6.share-button
    =link_to 'Email', "mailto:?&subject=#{title}&body=#{text_intro}AdoptTogether.%20#{text_prompt}%20#{url}%0A%0AThanks!", class: 'email'
= text_field_tag :url, family_url(family), class: "form-control", onClick: "this.setSelectionRange(0, this.value.length)"
