%li.update
  %h4 Update #{update.sequential_id}
  - if update.video_url?
    .video-responsive
      = video_embed(update.video_url)
  = image_tag(update.photo.large.url, class: 'img-responsive') if update.photo?
  %h3= update.title
  %span.date= update.date_created
  .body
    = simple_format(update.message)
  - if current_user && current_user.family == update.family
    .actions
      = link_to('Edit', edit_family_update_path(family, update), class: 'btn btn-default btn-sm')
      = link_to('Delete', family_update_path(family, update), method: :delete, class: 'btn btn-danger btn-sm', 'data-confirm' => 'Are you sure you want to delete this Update? You can\'t undo this.')