.row
  - if defined?(posts).nil? || posts.nil? # If posts isn't defined
    %p.text-center We can't find any posts right now. Check our blog below to see what's new.
  - else
    - posts.find(0) do |post|
      - image = post['body'][/img.*?src="(.*?)"/i,1]
      - title = post['title']
      - url = post['post_url']
      - date = Time.parse(post['date']).in_time_zone('Pacific Time (US & Canada)').strftime('%B %e, %Y')
      - body = post['body'][/<p>(.*?)<\/p>/m,1].truncate(230).html_safe
      .article.article-large.col-xs-12.col-md-6
        = link_to(url) do
          .blog-thumb.pull-left{style: "background-image: url(#{image})"}
        %h3= link_to( title, url)
        %p.timestamp= date
        %p
          = body
          = link_to('Read more', post['post_url'])
    - posts[1..2].each do |post|
      - image = post['body'][/img.*?src="(.*?)"/i,1]
      - title = post['title']
      - url = post['post_url']
      - date = Time.parse(post['date']).in_time_zone('Pacific Time (US & Canada)').strftime('%B %e, %Y')
      - body = post['body'][/<p>(.*?)<\/p>/m,1].truncate(115).html_safe
      .article.col-xs-12.col-md-6
        = link_to(url) do
          .blog-thumb.pull-left{style: "background-image: url(#{image})"}
        %h3= link_to( title, url )
        %p.timestamp= date
        %p
          = body
          = link_to('Read more', post['post_url'])
= link_to 'See the blog', 'http://adopttogether.tumblr.com', class: 'btn btn-default btn-sm center-block'
