%h1 Dashboard
.row
  .col-xs-12.col-md-4
    = render 'shared/dashboard_nav'
  .col-xs-12.col-md-8
    .row
      .chart.col-xs-12
        .well
          %h2 Fundraising Progress
          %span= pretty_dollars(@family.total_raised)
    .row
      .updates.col-xs-12.col-md-6
        .well
          %h3 Latest Updates
          %ul.list-unstyled.update-list
            -@family.updates.limit(5).each do |update|
              %li
                = render 'shared/update', :update => update
          = link_to "See all updates", family_updates_path(@family)
      .donations.col-xs-12.col-md-6
        .well
          %h3 Latest Donations
          %ul.list-unstyled
            - @donations.limit(3).each do |donation|
              = render 'shared/donation', :donation => donation
          = link_to "See all donations", "#"
