.row
  .col-xs-12.col-md-4
    = render 'shared/dashboard_nav', family: @family
  .col-xs-12.col-md-8
    %h1 Dashboard
    - if @family.present?
      .row
        .chart.col-xs-12
          .well
            .clearfix
              %h2.pull-left Fundraising Progress
              %span.pull-right #{pretty_dollars(@family.total_raised)} Net Designated Gifts
            - if @family.donations.any?
              - cache([@family.donations, @family.cost]) do
                = content_tag :div, '', id: 'area-chart', data: { amount_raised: @family.donations_chart_data(@family.created_at), cost: @family.cost }
            - else
              %p.small.help-block.blank-slate-chart You haven't received any donations yet. Share your profile with your friends and family to start getting donations.
      .row
        .updates.col-xs-12.col-md-6
          = render 'latest_updates', family: @family, updates: @family.updates
        .donations.col-xs-12.col-md-6
          = render 'latest_donations', family: @family, donations: @family.donations
    - else
      %p Create a family profile and we'll show you your progress here.
