- provide(:before_container) do
  .jumbotron.no-padding
    .container
      .row
        .hero-content.col-xs-12.col-md-8.col-lg-7
          %h1 Help Fund Adoptions
          %p AdoptTogether is the world’s largest crowdfunding platform for adoption. Every gift you give, brings a family one step closer to each other.
          = form_tag search_families_path, method: "get", class: "form-inline form-horizontal" do
            .input-group
              %span.input-group-addon
              = text_field_tag :q, params[:q], placeholder: "Search for an Adopting Family", size: 34, class: "form-control input-lg"
            = submit_tag :Search, class: "btn btn-primary btn-lg"
            %p.small.hidden-xs Search by name or email
      .press
        %span.text-center.col-xs-12 As seen on
        .row.clearfix
          = image_tag("press-cnn-logo.png", alt: "CNN", class: "img-responsive first")
          = image_tag("press-the-christian-post-logo.png", alt: "The Christian Post", class: "img-responsive second")
          = image_tag("press-womans-day-logo.png", alt: "Woman's Day", class: "img-responsive third")

.row.family-bucket
  .col-xs-12.col-md-6
    %h2 Raise Money for Your Adoption from Your Friends, Family, and More
    %p Create an AdoptTogether profile and invite your friends & family to make designated donations to bring your child home.
    = link_to "Get My Own Family Profile", new_family_path, class: "btn btn-primary"
  .col-xs-12.col-md-6
    = image_tag("ipad-family-profile.png", class: "img-responsive center-block")

.family-list.no-padding
  %h2 #{pluralize(@families.count, 'Family')} have raised #{pretty_dollars(global_donations)}
  %p for their adoptions on AdoptTogether
  .row.no-padding
    - @families.each do |family|
      .col-xs-6.col-md-4
        = render 'shared/family_thumb', :family => family

- provide(:after_container) do
  .testimonials.no-padding
    .container
      .testimonial
        %p "A great quote about what AdoptTogether did to help us adopt our beautiful child who we love so dearly. We would be lost without Adopt Together."
        %h4 The Wittigs
        %p Adopted from Uganda
        %p See their story
  .container
    .blog
      %h3 A Seahawk Family's Crazy Adoption Story
      %p Dec 30, 2014
      %P Completely impact multifunctional processes and wireless supply chains. Dynamically engage business meta-services for market-driven data. Collaboratively restore cross-platform users before client-centered manufactured products. Read more
      =link_to "See the blog", "#", class: "btn btn-default btn-sm"
