- provide(:before_container) do
  .jumbotron.no-padding
    .container
      .row
        .hero-content.col-xs-12.col-md-8.col-lg-7
          %h1 Help Fund Adoptions
          %p.lead AdoptTogether is the world’s largest crowdfunding platform for adoption. Every gift you give, brings a family one step closer to each other.
          = form_tag search_families_path, method: 'get', class: 'form-inline form-horizontal' do
            .input-group
              %span.input-group-addon
              = text_field_tag :q, params[:q], placeholder: 'Search for an Adopting Family', size: 34, class: 'form-control input-lg'
            = submit_tag :Search, class: "btn btn-primary btn-lg"
            %p.small.hidden-xs Search by name or email
      .press
        %span.text-center.col-xs-12 As seen on
        .row.clearfix
          = image_tag('press-womans-day.png', height: 39, alt: 'Woman\'s Day', class: 'img-responsive womans')
          = image_tag('press-huffington-post.png', height: 47, alt: 'Woman\'s Day', class: 'img-responsive huffington')
          = image_tag('press-vanity-fair.png', height: 32, alt: 'Vanity Fair', class: 'img-responsive vanity')
          = image_tag('press-forbes.png', height: 31, alt: 'Forbes', class: 'img-responsive forbes')
          = image_tag('press-cnn.png', height: 38, alt: 'CNN', class: 'img-responsive cnn')

.row.family-bucket
  .col-xs-12.col-md-6
    %h2 Raise money for your adoption from friends, family, and more
    %p Create an AdoptTogether profile and invite your friends & family to make designated donations to bring your child home.
    = link_to 'Get My Own Family Profile', new_family_path, class: 'btn btn-primary'
  .col-xs-12.col-md-6
    = image_tag('ipad-family-profile.png', class: 'img-responsive center-block')

.family-list.no-padding
  - cache(['total-donations-and-families', @families.maximum(:updated_at)]) do
    %h2 #{pluralize(Family.count, 'Family')} have raised #{pretty_dollars(global_donations)}
  %p for their adoptions on AdoptTogether
  .row.no-padding
    - cache(['families_list', @families.map(&:id), @families.maximum(:updated_at)]) do
      - @families.each do |family|
        - cache(family) do
          .col-xs-6.col-md-4
            = render 'shared/family_thumb', family: family

- provide(:after_container) do
  - cache ('testimonials') do
    .testimonials.no-padding
      .container
        #testimonials-carousel.carousel.slide{ 'data-ride' => 'carousel' }
          .carousel-inner{ role: 'listbox' }
            .item.active
              .testimonial.col-xs-12.col-md-5.col-md-offset-1
                %blockquote
                  %p "Without AdoptTogether we would not have been able to grow our family through adoption at this point in our lives. AdoptTogether allowed us to engage our friends and family through tax-deductible fundraising."
                  .media
                    .media-left
                      = image_tag 'testimonial-wittigs.jpg', class: 'img-circle'
                    .media-body
                      %h4.media-heading The Wittigs
                      %p.media-subheading Adopted from Uganda
              .testimonial.col-xs-12.col-md-5
                %blockquote
                  %p "We are thankful for AdoptTogether! In our adoption journey, over 1,500 different people donated through AdoptTogether to help bring Thaddeus home. We did not do this alone, we literally did 'Adopt Together.'"
                  .media
                    .media-body
                      %h4.media-heading The Gulletts
                      %p.media-subheading Adopted from the US
            .item
              .testimonial.col-xs-12.col-md-5.col-md-offset-1
                %blockquote
                  %p "AdoptTogether provided a simple way for people to make donations. Receiving our money when we were ready to travel was also as simple as sending an email. When you are in the midst of paperwork and travel plans, the simplicity of AdoptTogether is so appreciated."
                  .media
                    .media-body
                      %h4.media-heading The Robinsons
                      %p.media-subheading Adopted from China
              .testimonial.col-xs-12.col-md-5
                %blockquote
                  %p "After an adoption without any financial support, we knew that adopting again would be a challenge. Then we heard about AdoptTogether. The process was easy, the staff was amazingly supportive, and the ability for our family and friends to give toward our adoption costs is simply amazing."
                  .media
                    .media-body
                      %h4.media-heading The Crooks
                      %p.media-subheading Adopted from the US
            .item
              .testimonial.col-xs-12.col-md-5.col-md-offset-1
                %blockquote
                  %p "AdoptTogether is a simple partnership that will bless your family and breathe new life into the sails of your adoption journey. We have told everyone we know who is adopting about AdoptTogether and we recommend them to you enthusiastically."
                  .media
                    .media-body
                      %h4.media-heading Jeff Crawford
                      %p.media-subheading Adopted from Colombia
              .testimonial.col-xs-12.col-md-5
                %blockquote
                  %p "We knew that we needed a financial partnerwhile adopting our daughter from China. AdoptTogether was our answer to prayer! Many friends, businesses and anonymous donors blessed our family, completely funding the adoption cost of $39,500! Our family will forever be grateful to God for the gift of AdoptTogether!"
                  .media
                    .media-body
                      %h4.media-heading The Butchers
                      %p.media-subheading Adopted from China
            = link_to('#testimonials-carousel', html_options = { 'data-slide' => 'prev', role: 'button' }) do
              %span.left.carousel-control
              %span.sr-only Previous
            = link_to('#testimonials-carousel', html_options = { 'data-slide' => 'next', role: 'button' }) do
              %span.right.carousel-control
              %span.sr-only Next
  .container.blog
    - cache(@posts) do
      = render 'blog_posts', posts: @posts
