- title "Donate to #{@family.full_name}'s Adoption on AdoptTogether"
- meta_description "You can donate to #{@family.full_name}'s adoption on AdoptTogether, a crowdfunding platform for adopting families."
.row
  .col-xs-12.col-sm-8
    %h1 Donate to a Family
    = form_for([@family, @donation]) do |f|
      = render 'shared/errors', object: @donation
      %span.payment-errors
        %noscript
          %p This form requires Javascript to use
      .page-tabs.btn-group.btn-group-justified
        = link_to "Amount", "#page-amount", class: "btn btn-default active", role: "tab", "data-toggle" => "tab"
        = link_to "Donation Info", "#page-donation-info", class: "btn btn-default", role: "tab", "data-toggle" => "tab"
        = link_to "Payment Info", "#page-payment-info", class: "btn btn-default", role: "tab", "data-toggle" => "tab"
      .tab-content
        .amount.tab-pane.in.active#page-amount
          %fieldset
            %legend
              Choose an amount
              = link_to "#", class: "pull-right paypal" do
                Donate with
                %span PayPal
            .form-group.donation-amount(data-toggle="buttons")
              - Donation::DONATION_AMOUNTS.each do |amount|
                = f.label :amount, value: amount, class: "btn btn-default" do
                  = f.radio_button :amount, amount
                  = "$" + amount.to_s
              -# The empty quotes are to keep the label text empty
              = label_tag 'donation_amount_other', '' do
                = radio_button_tag 'donation[amount]', 'other', nil
                = telephone_field_tag 'other_text', nil, placeholder: "Other amount", class: "form-control"
                %p.small.help-text The average gift is $210
          %fieldset
            %p.radio-label Give a small donation to AdoptTogether (totally optional!)
            .radio-group
              - Donation::TIP_AMOUNTS.each do |key, value|
                .radio
                  = f.label :at_tip, value: key do
                    = f.radio_button :at_tip, key
                    #{value}
                    %span.tip-amount
              .radio
                = label_tag 'donation_at_tip_other', nil do
                  = radio_button_tag 'donation[at_tip]', 'other', nil
                  Other |
                  = telephone_field_tag 'tip_other_text', nil, placeholder: "$0", class: "form-control"
            %p.small.help-block AdoptTogether is a FREE service for adoptive families. We are a 501(c)(3) non profit funded completely by people just like you make these small donations.
            .checkbox
              = f.label :hide_amount, class: "checkbox" do
                = f.check_box :hide_amount
                Make my donation amount private
            .row
              .col-xs-12.col-md-6
                = link_to "Next", "#page-donation-info", "data-toggle" => "tab", class: "btn btn-primary btn-block"

        .donation-info.tab-pane#page-donation-info
          %fieldset
            %legend Enter your information
            .row
              .col-xs-12.col-md-6
                .form-group
                  = f.label :name
                  = f.text_field :name, class: "form-control"
                .checkbox
                  = f.label :anonymous, class: "checkbox" do
                    = f.check_box :anonymous
                    Make this donation anonymous
            .row
              .col-xs-12
                .form-group
                  = f.label :message, "Message to the Family"
                  = f.text_area :message, size: "60x6", class: "form-control"
                  %p.small.help-block This message will be public.
            .row
              .col-xs-12.col-md-6
                .form-group
                  = f.label :email
                  = f.email_field :email, class: "form-control"
                  / %p.small.help-block For the receipt. We will not email you anything else unless you opt in.
                .checkbox
                  = f.label :at_newsletter do
                    = f.check_box :at_newsletter
                    Yes, I would like to join the thousands of others who receive monthly updates and inspiration stories.
            .row
              .col-xs-12.col-md-6
                = link_to "Next", "#page-payment-info", "data-toggle" => "tab", class: "btn btn-primary btn-block"
        .payment-info.tab-pane#page-payment-info
          %fieldset
            %legend Enter your payment information
            .row
              .col-xs-12.col-md-6
                .form-group
                  = label_tag :card_number
                  = telephone_field_tag :card_number, params[:card_number], name: nil, class: "form-control js-cc-number"
                .row
                  .form-group.col-xs-6
                    = label_tag :expiration_date
                    = telephone_field_tag :expiration_date, params[:card_expiration], name: nil, placeholder: "MM/YY", class: "form-control js-cc-expiry"
                  .form-group.col-xs-6
                    = label_tag :security_code
                    = telephone_field_tag :security_code, params[:security_code],  name: nil, class: "form-control js-cc-cvc"
                    %p.small.help-block What's this?
                  = f.hidden_field :stripe_token

            .checkbox
              = f.label :recurring, class: "checkbox" do
                = f.check_box :recurring
                Make this a monthly donation. Each month you will bring this family closer to their goal.
          .row
            .col-xs-12.col-md-6
              = f.submit "Donate", class: "btn btn-primary btn-block donation"
  %aside.col-xs-12.col-sm-4
    %h2 You are donating to
    = render 'shared/family_thumb', :family => @family
    %h2 FAQ
    %h3 Are my donations tax deductible?
    %p Yes! Your donation is going to the Hoping Hearts foundation and then it is being appropriated to the families.
    %h3 Can I send a check?
    %p Of course! Just make your check payable to AdoptTogether and put the family’s name on the envelope & in the memo and mail it to:
    %p
      AdoptTogether
      %br
      251 W. Central Ave. #278
      %br
      Springboro, OH 45066
      %br
      1 (888) 826-0948
    %h3 Can I give a monthly contribution?
    %p Yes, on the last step we’ll ask if you want to make this a monthly contribution.
    %h3 Can I edit or cancel my monthly contribution?
    %p You can view or edit your monthly contribution at any time here.
