- if params[:family_id].present?
  - title "Donate to #{@recipient.full_name}'s Adoption on AdoptTogether"
  - meta_description "You can donate to #{@recipient.full_name}'s adoption on AdoptTogether, a crowdfunding platform for adopting families."
- else
  - title "Donate to #{@recipient.full_name}"
  - meta_description 'You can donate to adoption on AdoptTogether, a crowdfunding platform for adopting families.'
.row
  .col-xs-12.col-sm-8
    - if params[:family_id].present?
      %h1 Donate to a Family
    - else
      %h1 Donate to #{@recipient.full_name}
      %p A donation to AdoptTogether helps us fund even MORE adoptions than we ever thought possible. Credit card fees, website hosting & development costs, legal fees, etc. & a slush fund for families who don't meet their goals.
    = render 'form', recipient: @recipient, donation: @donation
    .lock
      = image_tag('lock.png', height: 23, alt: 'Secured by Stripe & Cloudflare')
      %p Your information is secure with 256 bit SSL encryption
  %aside.col-xs-12.col-sm-4
    - if params[:family_id].present?
      - cache(@recipient) do
        %h3 You are making a designated donation to AdoptTogether on behalf of
        = render 'shared/family_thumb', family: @recipient
    %h2 FAQ
    %h4 Are my donations tax deductible?
    %p Yes! Your donation is going to Hoping Hearts Foundation, an IRS approved 501c3 non-profit organization.
    %h4 Can I send a check?
    %p Of course! Just make your check payable to AdoptTogether and put the family’s name on the envelope & in the memo and mail it to:
    %p
      AdoptTogether
      %br
      251 W. Central Ave. #278
      %br
      Springboro, OH 45066
      %br
      1 (888) 826-0948
    %h4 Can I give a monthly donation?
    %p Yes! Just choose to make your donation monthly and we will charge your credit card until you cancel. This is a great way to give more over time.
    %h4 Can I edit or cancel my monthly donation?
    %p You can cancel your monthly contribution at any time via a unique URL that we will email you after you donate. If you ever lose the email, just contact us and we'll help you cancel your donation.
