.row
  .col-xs-12.col-sm-8
    %h1 Donate to a Family
    = form_for([@family, @donation]) do |f|
      = render 'shared/errors', object: @donation
      %span.payment-errors
        %noscript
          %p This form requires Javascript to use
      .page-tabs.btn-group.btn-group-justified
        %a.btn.btn-default Amount
        %a.btn.btn-default Donation Info
        %a.btn.btn-default Payment Info
      .tab-content
        %fieldset
          %legend
            Choose an Amount
            %a.pull-right.small.paypal
              Donate with
              %span PayPal
          .form-group.donation-amount(data-toggle="buttons")
            - Donation::DONATION_AMOUNTS.each do |amount|
              = f.label :amount, value: amount, class: "btn btn-default" do
                = f.radio_button :amount, amount
                = "$" + amount.to_s
            / = f.text_field :amount, value: "", id: "donation_amount_other", placeholder: "Other", class: "form-control"
        %fieldset
          %p Give a small donation to AdoptTogether (totally optional!)
          .radio-group
            - Donation::TIP_AMOUNTS.each do |amount|
              .radio
                = f.label :at_tip, value: amount do
                  = f.radio_button :at_tip, amount
                  #{amount}%
            / .radio
            /   = f.label :at_tip, value: "other" do
            /     = f.radio_button :at_tip, "other"
            /     Other |
            /     = f.text_field :at_tip, placeholder: "$0", class: "form-control"
          %p.small.help-block AdoptTogether is a FREE service for adoptive families. We are a 501(c)(3) non profit funded completely by people just like you make these small donations.
          .checkbox
            = f.label :hide_amount, class: "checkbox" do
              = f.check_box :hide_amount
              Make my donation amount private
          / .row.submit.submit-section
          /   .col-xs-12.col-sm-7
          /     %a#amount-next.btn.btn-primary Next
        %fieldset
          %legend Enter your information
          .row
            .col-xs-12
              .form-group
                = f.label :name
                = f.text_field :name, class: "form-control"
              .checkbox
                = f.label :anonymous, class: "checkbox" do
                  = f.check_box :anonymous
                  Make this donation anonymous
              .form-group
                = f.label :message, "Message to the Family"
                = f.text_area :message, size: "60x12", class: "form-control"
                %p.small.help-block This message will be public.
              .form-group
                = f.label :email
                = f.email_field :email, class: "form-control"
                %p.small.help-block For the receipt. We will not email you anything else unless you opt in.
              .checkbox
                = f.label :at_newsletter do
                  = f.check_box :at_newsletter
                  Yes, I would like to join the thousands of others who receive monthly updates and inspiration stories.
        %fieldset
          %legend Enter your payment information
          .row
            .col-xs-12
              .form-group
                = label_tag :card_number
                = telephone_field_tag :card_number, params[:credit_card_number], name: nil, class: "form-control js-cc-number", placeholder: "•••• •••• •••• ••••", "data-stripe" => "number"
              .form-group
                = label_tag :expiration_month, "Expiration date"
                .row.form-inline
                  .col-xs-4.col-sm-3.col-md-2
                    = telephone_field_tag :expiration_month, params[:expiration_month], name: nil, class: "form-control", placeholder: "MM", "data-stripe" => "exp-month"
                  \/
                  .col-xs-4.col-sm-3.col-md-2
                    = telephone_field_tag :expiration_year, params[:expiration_year], name: nil, class: "form-control", placeholder: "YY", "data-stripe" => "exp-year"
              .form-group
                = label_tag :security_code
                = telephone_field_tag :security_code, params[:security_code],  name: nil, class: "form-control js-cc-cvc", placeholder: "•••", "data-stripe" => "cvc"
                %p.small.help-block What's this?
              / .form-group
              /   = label_tag :postal_code
              /   = text_field_tag :postal_code, params[:postal_code]
              .checkbox
                = f.label :recurring, class: "checkbox" do
                  = f.check_box :recurring
                  Make this a monthly donation. Each month you will bring this family .5% closer to their goal. Learn more.
        = f.submit "Donate", class: "btn btn-primary donation"
  .col-xs-12.col-sm-4
    %h3 You are donating to
    .family
      = image_tag(@family.photo.thumb.url, class: "img-responsive")
      .caption
        %h3= @family.full_name
        %p are adopting from #{@family.country}
