%h1 Donate to a Family's Adoption

= form_for([@family, @donation]) do |f|
  / = render 'shared/errors', object @donation
  %ul.list-unstyled.page-tabs.btn-group.btn-group-justified
    %a.btn.btn-default Amount
    %a.btn.btn-default Donation Info
    %a.btn.btn-default Payment Info
  .tab-content
    %fieldset
      %legend Choose an Amount
      %a.right.small Donate with PayPal
    .form-group(data-toggle="buttons")
      - Donation::DONATION_AMOUNTS.each do |amount|
        = f.label :amount, value: amount, class: "btn btn-default" do
          = f.radio_button :amount, amount
          = "$" + amount.to_s
      .input-group.other
        .input-group-addon.hidden-xs.hidden-sm
        = f.text_field :amount, placeholder: "Other", class: "form-control"
    %fieldset
      %legend Give a small donation to AdoptTogether <small>(totally optional!)</small>
      .radio-group
        - Donation::TIP_AMOUNTS.each do |amount|
          .radio
            = f.label :at_tip, value: amount do
              = f.radio_button :at_tip, amount
              = amount
      .radio
        = f.label :at_tip, class: "stretch"
        = f.radio_button :at_tip, "other"
      %p.help AdoptTogether is a FREE service for adoptive families. We are a 501(c)(3) non profit funded completely by people just like you make these small donations.
      / .checkbox
      /   = f.label :donation_amount_private, class: "checkbox" do
      /     = f.check_box :donation_amount_private
      /     Make my donation amount private
      .row.submit.submit-section
        .col-xs-12.col-sm-7
          %a#amount-next.btn.btn-primary Next