/ - if @recipient
/   - title "Donate to #{@charity.full_name}"
/   - meta_description 'You can donate to adoption on AdoptTogether, a crowdfunding platform for adopting families.'
/ - else
- title "Donate to #{@recipient.full_name}'s Adoption on AdoptTogether"
- meta_description "You can donate to #{@recipient.full_name}'s adoption on AdoptTogether, a crowdfunding platform for adopting families."
.row
  .col-xs-12.col-sm-8
    - if @recipient == 'charity'
      %h1 Donate to AdoptTogether
      %p A donation to AdoptTogether helps us fund even MORE adoptions than we ever thought possible.
      %ul
        %li Website hosting costs, development, legal fees, etc
        %li Slush fund for families who don't meet their goals
        %li Staff salaries

    - else
      %h1 Donate to a Family
    = render 'form'
  %aside.col-xs-12.col-sm-4
    - if @recipient.nil?
      %h2 You are making a designated donation to AdoptTogether on behalf of
      = render 'shared/family_thumb', family: @recipient
    %h2 FAQ
    %h3 Are my donations tax deductible?
    %p Yes! Your donation is going to Hoping Hearts Foundation, an IRS approved 501c3 non-profit organization.  
    %h3 Can I send a check?
    %p Of course! Just make your check payable to AdoptTogether and put the family’s name on the envelope & in the memo and mail it to:
    %p
      AdoptTogether
      %br
      251 W. Central Ave. #278
      %br
      Springboro, OH 45066
      %br
      1 (888) 826-0948
    %h3 Can I give a monthly donation?
    %p Yes! Just choose to make your donation monthly and we will charge your credit card until you cancel. This is a great way to give more over time.
    %h3 Can I edit or cancel my monthly donation?
    %p You can cancel your monthly contribution at any time via a unique URL that we will email you after you donate. If you ever lose the email, just contact us and we'll help you cancel your donation.
