.row
  .col-xs-12.col-sm-8
    %h1 Thank you for your donation!
    %p If you have any questions please don't hesitate to email us at any time.

    .well
      .row
        .col-xs-8
          %h3= @donation.type
          - if @donation.recipient_type == 'Family'
            %p designated to #{@recipient.full_name}’s Adoption
          - else
            %p to AdoptTogether

        .col-xs-4
          %span.pull-right= pretty_dollars(@donation.amount, 2)
        - if @donation.recipient_type == 'Family'
          .col-xs-8
            %p Tip for AdoptTogether
          .col-xs-4
            %span.pull-right= pretty_dollars(@donation.tip_total, 2)
      %hr
      .row
        .col-xs-8
          %p Total
        .col-xs-4
          %span.pull-right= pretty_dollars(@donation.total_amount_in_dollars, 2)
    .small.help-block
      A receipt with this information has just been emailed to you.
      - if @donation.recurring
        You can #{link_to 'cancel your monthly contribution', cancel_url(@recipient, @donation)} at any time.
    - if @donation.recipient_type == 'Family'
      %h2 Help #{@recipient.full_name} reach their goal by sharing their fundraiser
      .row
        .col-xs-12.col-sm-4
          %span.share-count= share_count(family_url(@recipient))
          %span.shares Shares
        .share-buttons.col-xs-12.col-sm-8
          = render 'shared/share_buttons', family: @recipient
  %aside.col-xs-12.col-sm-4
    - if @donation.recipient_type == 'Family'
      - cache(@recipient) do
        %h2 You donated to
        = render 'shared/family_thumb', family: @recipient
    %h2 FAQ
    %h3 Are my donations tax deductible?
    %p Yes! Your donation is going to the Hoping Hearts foundation and then it is being appropriated to the families.
    %h3 Can I send a check?
    %p Of course! Just make your check payable to AdoptTogether and put the family’s name on the envelope & in the memo and mail it to:
    %p
      AdoptTogether
      %br
      251 W. Central Ave. #278
      %br
      Springboro, OH 45066
      %br
      1 (888) 826-0948
    %h3 Can I give a monthly contribution?
    %p Yes, on the last step we’ll ask if you want to make this a monthly contribution.
    %h3 Can I edit or cancel my monthly contribution?
    %p You can cancel your monthly contribution at any time. We'll send you a unique URL to cancel in your receipt email. If you ever lose this URL or the email we sent, just contact us and we'll help you cancel.
