.row
  .col-xs-12.col-md-4
    = render 'shared/dashboard_nav', family: @family
  .col-xs-12.col-md-8
    - if @family.approval_letter_file?
      = link_to 'Request a Grant', new_family_grant_path(@family), class: 'btn btn-primary pull-right'
    - else
      %span.btn.btn-primary.pull-right{ disabled: true } New Grant Request
    %h1 Your Grants
    - if @family.approval_letter_file?
      - if @grants.any?
        %ul.list-unstyled.grant-list
          - cache(['grants_list', @grants.map(&:id), @grants.maximum(:updated_at)]) do
            - @family.grants.each do |grant|
              - cache(grant) do
                %li.grant
                  %h4 Grant for #{grant.requested_to_name}
                  %span.date= grant.date_created
                  %h2= pretty_dollars(grant.amount_requested)
                  .body= simple_format(grant.expense_description)
                  = status_label(grant)
          = paginate @grants
      - else
        %p.help-block You haven't requested any grants yet. You will need request grants for each adoption-related expense.
    - else
      %p In order to submit your first grant, you must give us a little bit more information and upload a copy of your Approval Letter from your Adoption Agency, Social Worker, or Lawyer.
      = link_to 'Upload Your Approval Letter', family_approval_letter_path(@family), class: 'btn btn-primary'