%h1
  %span.small.show
    = link_to 'Admin', admin_path
    \ /
    - if @family
      = link_to @family.full_name, :back
  All #{pluralize(@grants.total_count, 'Grant')}
= paginate(@grants)
%table.table.table-hover
  %thead
    %tr
      %td Family & Expense Description
      %td Amount Requested
      %td Recipient
      %td Created
      %td Doc Upload?
      %td Status
  %tbody
    - @grants.each do |grant|
      %tr
        %td
          .media
            .media-body
              %h3.media-heading= link_to grant.family.full_name, grant.family
              %p= truncate(grant.expense_description, length: 60)
        %td= pretty_dollars(grant.amount_requested)
        %td= link_to grant.requested_to_name, admin_grant_path(grant)
        %td.small #{time_ago_in_words(grant.created_at)} ago
        %td
          - if grant.supporting_documentation?
            ✅
        %td
          = status_label(grant)
= paginate(@grants)
