%h1
  %span.show.small
    = link_to 'Admin', admin_path
    \ /
  All #{pluralize(@donations.total_count, 'Donation')}
  - if @family.present?
    for #{link_to @family.full_name, family_path(@family)}
.pull-right
  = link_to 'Export as CSV', admin_donations_path(format: 'csv'), class: 'btn btn-sm btn-default'
  = link_to 'Export as XLS', admin_donations_path(format: 'xls'), class: 'btn btn-sm btn-default'
= paginate(@donations)
%table.table.table-hover
  %thead
    %tr
      %th= sortable 'name', 'Donor Name'
      %th= sortable 'email'
      %th Recipient
      %th= sortable 'amount'
      %th= sortable 'at_tip'
      %th= sortable 'recurring', 'Monthly?'
      %th= sortable 'created_at', 'Date Donated'
      %th Stripe Link
      %th Actions
  %tbody
    - @donations.each do |donation|
      %tr
        %td
          %strong
            = donation.name
          - if donation.anonymous?
            %span.small (Anonymous)
        %td= donation.email
        %td= link_to donation.recipient.full_name, donation.recipient
        %td
          = pretty_dollars(donation.amount)
          - if donation.hide_amount?
            %span.small (hidden)
        %td= pretty_dollars(donation.at_tip)
        %td= donation.recurring?
        %td.small{title: donation.created_at.strftime("on %-m/%-d/%Y at %l:%M %p")} #{time_ago_in_words(donation.created_at)} ago
        %td= stripe_url(donation, '💳', 'Stripe Profile')
        %td= link_to '📝', edit_admin_donation_path(donation), title: 'Edit Donation'
= paginate(@donations)
