!!! 5
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %title= title
    %meta(name='description' content=meta_description)
    = stylesheet_link_tag('application', '//cloud.typography.com/7610312/729166/css/fonts.css', media: 'all', 'data-turbolinks-track' => true)
    = javascript_include_tag('application', 'https://js.stripe.com/v2/', 'data-turbolinks-track' => true, async: true)
    = render 'shared/app_js'
    = robots_meta_tag
    = csrf_meta_tags
  %body{:class => body_class}
    = render 'layouts/header'
    .wrapper
      = render 'layouts/flash'
      = content_for(:before_container)
      .container
        = yield
      = content_for(:after_container)
    = render 'layouts/footer'
    :javascript
      ga('send', 'pageview', '#{request.path}');
