!!! 5
%html
  %head
    %title= title
    = stylesheet_link_tag('application', '//cloud.typography.com/7610312/729166/css/fonts.css', media: 'all', 'data-turbolinks-track' => true)
    = javascript_include_tag('application', 'https://js.stripe.com/v2/', 'data-turbolinks-track' => true)
    = render 'shared/app_js'
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="robots" content="noindex, nofollow")
    = csrf_meta_tags
  %body{:class => body_class}
    = render 'layouts/header'
    .wrapper
      = render 'layouts/flash'
      = content_for(:before_container)
      .container
        = yield
      = content_for(:after_container)
    = render 'layouts/footer'
    = render 'shared/fb_share_js'
