!!! 5
%html
  %head
    %title AdoptTogether
    = stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track' => true)
    = javascript_include_tag('application', 'data-turbolinks-track' => true)
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    = content_for(:before_container)
    .container
      = render 'layouts/flash'
      = yield
    = render 'layouts/footer'
